@{
    Layout = null;

}
@* UI Layout*@
<!DOCTYPE html>
<html>


<partial name="_UILayoutPartial/_UILayoutHeadPartial"></partial>

<body>
    <partial name="_UILayoutPartial/_UILayoutNavbarPartial"></partial>
    <!-- book section -->
    @RenderBody()
    <!-- end book section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooter")

    <partial name="_UILayoutPartial/_UILayoutScriptPartial"></partial>
</body>

</html>
